* {
    font-family: century-gothic,
        sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: 1.7;
  

}
html{
  scroll-behavior: smooth;
}
nav {
    width: 100%;
    background-color: transparent;
}
.ct-btn-scroll {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    padding: 1.2rem;

}

.nav-head {
    color: #FC3C3C;
    font-weight: bold;
    border-radius: 2px;
    font-size: 1.5rem;
}

.nav-head:hover {
    color: #FC3C3C;
    font-weight: bold;
    text-decoration: none;
}

.navbar-toggler-icon {
    color: white;
}

.navbar-toggler {
    background-color: white;
}

.navbar-nav li {
    padding-left: 30px;

}

.nav-link {
    font-size: 1;
    font-weight: bolder;
    color: white;

}

.nav-link:hover {
    color: #3E6896;
    font-weight: bold;
    text-decoration: underline;
}

.wrap {
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

}

h2.header {
    color: white;
    text-align: center;
    font-size: 40px;
    transform: scale(1);
    animation: pulse 2s infinite
}


h5.header5 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    transform: scale(1);
    animation: pulse 2s infinite
}

@keyframes pulse {
    0% {
        transform: scale(0.95);

    }

    70% {
        transform: scale(1);

    }

    100% {
        transform: scale(0.95);

    }
}



.lead {
    text-align: start;
    font-size: 18px;
    color: white;
    line-height: 1.7;
}

.lead9 {
    text-align: center;
    font-size: 18px;
    color: white;
    line-height: 1.7;
}

.lead1 {
    text-align: center;
    font-size: larger;
    color: black;
    line-height: 1.7;
}

.layer {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

h2.header8 {
    font-size: 40px;
    color: #3b5998;
    text-align: center;
    transform: scale(1);
    animation: pulse 2s infinite;
}

.middle {
    text-align: center;
    color: white;
    display: inline;
}

.img {
    width: 100%;
    height: auto;
}

.img1 {
    width: 100%;
    height: 600px;
}

.title {
    font-size: 2.5rem;
    color: #3E6896;
}

.owl {
    width: auto;
    height: auto;
}

.framebox {
    background-color: #3E6896;
    width: 100%;
    height: auto;
    background-size: contain;
}

.soon {
    background-image: url('img/5f0c4beba97d7.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100vh;
    position: relative;

}

.layer1 {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.images {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: block;
}

.lead1 {
    color: black;
    text-align: left;

}

.lead2 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.lead3 {
    text-align: center;
    color: white;
    font-size: small;
}

.lead4 {
    text-align: center;
    color: #3E6896;
    font-size: small;

}


#demo {
    color: #3E6896;
    text-align: center;
    font-size: 4rem;
    transform: scale(1);
    animation: pulse 2s infinite
}

#demo1 {
    color: white;
    text-align: center;
    font-size: 4rem;
    transform: scale(1);
    animation: pulse 2s infinite
}

h1.header1 {
    color: #3E6896;
    text-align: center;
    transform: scale(1);
    animation: pulse 2s infinite;

}

h6.header6 {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-top: 8%;


}

h2.header9 {
    text-align: start;
    color: white;
    font-size: 1.5rem;
}

h2.header10 {
    text-align: start;
    color: white;
    font-size: 2.5rem;
    color: #3E6896;

}

h1.header2 {
    color: #3E6896;
    text-align: center;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);

    }

    70% {
        transform: scale(1);

    }

    100% {
        transform: scale(0.95);

    }
}

.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

h6.header2 {
    color: #009BBC;
    text-align: center;
    font-size: xx-large;
}

h3.header3 {
    color: #3E6896;
    text-align: center;
    font-size: 20px;
}

.test {
    text-align: center;
    color: black;
    font-size: large;
}

.confine {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.images1 {
    display: inline;

}

.title::after {
    content: '';
    background-color: #3E6896;
    width: 200px;
    height: 10px;
    display: block;
    margin-left: 80px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-name: slide;
    animation-name: slide;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal;

}

/* slide animation keyframes */
@keyframes slide {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    50% {
        -webkit-transform: translateX(3.5rem);
        transform: translateX(3.5rem);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


.social {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.social a {
    font-size: 50px;
    padding: 1.5rem;

}


.social a .fa-facebook-official {
    color: #3b5998;
}

.social a .fa-twitter {
    color: #00aced;
}

.card-body {
    margin-left: 300px;
    margin-right: 300px;
}

.spacex {
    margin-left: auto;
    margin-right: auto;
    display: absolute;
}

.ink {
    width: auto;
    height: 490px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span.color {
    color: #3b5998;
}
.ct-btn-scroll {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
    }
}

@-moz-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -o-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@media only screen and (max-width:1920px) {
    .space {
        display: block;
        margin-left: 550px;
        margin-right: auto;
    }

    .form-inline input {
        vertical-align: middle;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(62, 104, 150, 0.3);
        ;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin-right: auto;
        margin-left: auto;
    }
        .ct-btn-scroll {
            display: flex;
            margin-left: 400px;
            margin-right: auto;
        }

}

@media only screen and (max-width:1366px) {
    .space {
        display: block;
        margin-left: 400px;
        margin-right: auto;
    }

    .form-inline input {
        vertical-align: middle;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(62, 104, 150, 0.3);
        ;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin-right: auto;
        margin-left: auto;
    }
        .ct-btn-scroll {
            display: flex;
            margin-left: 260px;
            margin-right: auto;
          
        }

}

@media only screen and (max-width: 1024px) {
    .wrap {
        background-size: cover;
        background-repeat: no-repeat;
        width: auto;
        height: 900px;
    }

    .layer {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 900px;
    }

    * {
        overflow-x: hidden;
    }

    .test {
        text-align: center;
        color: black;
        font-size: large;
    }

    #myVideo {
        position: relative;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;

    }

    .card-body {
        margin-left: auto;
        margin-right: auto;
    }

    h3.header3 {
        font-size: 18px;
    }

    .space {
        display: block;
        margin-left: 150px;
        margin-right: auto;
    }

    .form-inline input {
        vertical-align: middle;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(62, 104, 150, 0.3);
        ;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin-right: auto;
        margin-left: auto;
    }
        .ct-btn-scroll {
            display: flex;
            margin-left: 200px;
            margin-right: auto;
        }



}



@media only screen and (max-width: 768px) {
    .wrap {
        background-size: cover;
        background-repeat: no-repeat;
        width: auto;
        height: 1100px;
    }

    .layer {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1022px;
    }

    * {
        overflow-x: hidden;
    }

    .test {
        text-align: center;
        color: black;
        font-size: medium;
    }

    #myVideo {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        display: inline;

    }

    .title {
        font-size: 1.5rem;
    }

    #demo1 {
        font-size: 2rem;
    }

    h6.header6 {
        font-size: 2.4rem;
    }

    .navbar-nav .nav-link {
        font-size: 15px;
        font-weight: bolder;
        color: white;

    }

    .card-body {
        margin-left: auto;
        margin-right: auto;
    }

    h3.header3 {
        font-size: 18px;
    }

    .space {
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .time {
        margin-left: auto;
        margin-right: auto;
    }

    #email {
        text-align: center;
    }

    .form-inline button {
        margin-left: auto;
        margin-right: auto;
    }
        .ct-btn-scroll {
            display: flex;
            margin-left: 148px;
            margin-right: auto;
        }


}


@media only screen and (max-width: 752px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .wrap {
        background-size: cover;
        background-repeat: no-repeat;
        width: auto;

    }
}

@media only screen and (max-width: 762) {
    .layer {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1200px;
    }
}

@media only screen and (max-width: 414px) {
    .wrap {
        background-size: cover;
        background-repeat: no-repeat;
        width: auto;
        height: 900px;
    }

    .layer {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 900px;
    }

    * {
        overflow-x: hidden;
    }

    #demo {

        text-align: center;
        font-size: 2.3rem;
    }

    .test,
    .lead4 {
        display: none;
    }

    #demo1 {
        color: white;
        text-align: center;
        font-size: 2rem;
        transform: scale(1);
        animation: pulse 2s infinite
    }

    #myVideo {
        position: relative;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;

    }

    .title {
        font-size: 1.5rem;
    }

    h3.header3 {
        font-size: 16px;
    }

    h6.lead2 {
        font-size: 18px;
    }

    .card-body {
        margin-left: auto;
        margin-right: auto;
    }

    h5.header5 {
        font-size: 30px;
    }

    .ink {
        width: auto;
        height: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h2.header {
        font-size: 30px;
    }

    h6.lead {
        font-size: 17px;
        text-align: center;
        line-height: 1.4;
    }

    h2.header9 {
        font-size: 15px;
        text-align: center;
    }

    h2.header10 {
        text-align: center;
        font-size: 30px;
    }

    .space {
        display: block;
        margin-left: 40px;
        margin-right: auto;
    }

    .form-inline input {
        vertical-align: middle;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(62, 104, 150, 0.3);
        ;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin-right: auto;
        margin-left: auto;
    }

    .time {
        margin-left: 30px;
        margin-right: auto;
    }

    #email {
        text-align: center;
    }

    .form-inline button {
        margin-left: auto;
        margin-right: auto;
    }
        .ct-btn-scroll {
            display: flex;
            margin-left: 160px;
            margin-right: auto;
        }





}

@media only screen and (max-width: 411px) {
    .wrap {
        background-size: cover;
        background-repeat: no-repeat;
        width: auto;
        height: 1000px;
    }

    .layer {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1000px;
    }

    * {
        overflow-x: hidden;
    }

    #demo {
        text-align: center;
        font-size: 2rem;
    }

    #demo1 {
        text-align: center;
        font-size: 2.5rem;
    }

    .test,
    .lead4 {
        display: none;
    }

    #myVideo {
        position: relative;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;

    }

    .title {
        font-size: 1.7rem;
        color: #3E6896;
    }

    h3.header3 {
        font-size: 16px;
    }

    h5.header5 {
        font-size: 30px;
    }

    h6.lead2 {
        font-size: 18px;
    }

    .card-body {
        margin-left: auto;
        margin-right: auto;
    }

    .ink {
        width: auto;
        height: 330px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h6.lead {
        text-align: center;
        font-size: 16px;
        color: white;
        line-height: 1.5;
    }

    h6.lead1 {
        text-align: center;
        font-size: 17px;
        line-height: 1.7;
    }

    h2.header {
        font-size: 30px;
    }

    h2.header8 {
        font-size: 30px;
        color: #3b5998;
        text-align: center;
    }

    h1.header1 {
        font-size: 28px;
    }

    h6.title.mt-5 {
        font-size: 20px;
    }

    h2.header9 {
        font-size: 15px;
        text-align: center;
    }

    h2.header10 {
        text-align: center;
        font-size: 2.2rem;
    }

    .space {
        display: block;
        margin-left: 40px;
        margin-right: auto;
    }

    .form-inline input {
        vertical-align: middle;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(62, 104, 150, 0.3);
        ;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin-right: auto;
        margin-left: auto;
    }

    .time {
        margin-left: 30px;
        margin-right: auto;
    }

    #email {
        text-align: center;
    }

    .form-inline button {
        margin-left: auto;
        margin-right: auto;
    }
    .ct-btn-scroll {
        display: block;
        margin-left: 165px;
        margin-right: auto;
    }

}


@media only screen and (max-width: 375px) {

    .test,
    .lead4 {
        display: none;
    }

    .card-body {
        margin-left: auto;
        margin-right: auto;
    }

    .ink {
        width: auto;
        height: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h6.lead {
        text-align: center;
    }
        .ct-btn-scroll {
            display: flex;
            margin-left: 148px;
            margin-right: auto;
        }



}


@media only screen and (max-width: 360px) {
    .wrap {
        background-size: cover;
        background-repeat: no-repeat;
        width: auto;
        height: 1100px;
    }

    .layer {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1100px;
    }

    * {
        overflow-x: hidden;
    }

    h3.header3 {
        font-size: 18px;
    }

    .test {
        text-align: center;
        color: black;
        font-size: xx-small;
    }

    #myVideo {
        position: relative;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;

    }

    .title {
        font-size: 1.5rem;
        color: #3E6896;
    }

    h5.header5 {
        font-size: 30px;
    }

    h6.lead2 {
        font-size: 20px;
    }

    h6.header6 {
        font-size: 28px;
    }

    #demo {
        font-size: 20px;
    }

    #demo1 {
        font-size: 30px;

    }

    .card-body {
        margin-left: auto;
        margin-right: auto;
    }

    .ink {
        width: auto;
        height: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h6.lead {
        text-align: center;
        font-size: 18px;
        color: white;
        line-height: 1.7;
    }

    h2.header {
        font-size: 30px;
    }

    h2.header8 {
        font-size: 30px;
        color: #3b5998;
        text-align: center;
    }

    h2.header9 {
        font-size: 15px;
        text-align: center;
    }

    h2.header10 {
        text-align: center;
        font-size: 25px;
    }

    .space {
        display: block;
        margin-left: 50px;
        margin-right: auto;
    }

    .form-inline input {
        vertical-align: middle;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(62, 104, 150, 0.3);
        ;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin-right: auto;
        margin-left: auto;
    }

    /* Style the submit button */
    .form-inline button {
        padding: 10px 20px;
        background-color: #0098BA;
        border: 1px solid #ddd;
        color: white;
        border-radius: 10px;
    }
     .ct-btn-scroll {
         display: flex;
         margin-left: 148px;
         margin-right: auto;
     }





}

@media only screen and (max-width: 320px) {

    .lead4,
    .test {
        display: none;
    }

    .social a {
        font-size: 45px;
        padding: 1.5rem;

    }

    h3.header3 {
        color: #3E6896;
        text-align: center;
        font-size: 18px;
    }

    #demo1 {
        font-size: 23px;
    }

    .lead {
        text-align: center;
        font-size: 12px;
        color: white;
        line-height: 1.5;
    }

    h2.header9 {
        font-size: 18px;
        text-align: center;
    }

    h2.header10 {
        text-align: center;
    }

    h5.header5 {
        font-size: 28px;
    }

    h6.lead2 {
        font-size: 18px;
    }

    h6.header6 {
        font-size: 28px;
    }

    #demo {
        font-size: 23px;
    }

    .card-body {
        margin-left: auto;
        margin-right: auto;
    }

    h6.lead {
        font-size: 16px;
    }
        .ct-btn-scroll {
            display: flex;
            margin-left: 120px;
            margin-right: auto;
        }

}
.clap {
    font-size: 30px;
    color: #3b5998;
    text-align: center;
}
/* Style the input fields */
.form-inline input {
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(62, 104, 150, 0.3);
    ;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

/* Style the submit button */
.form-inline button {
    padding: 10px 20px;
    background-color: #0098BA;
    border: 1px solid #ddd;
    color: white;
    border-radius: 10px;
}

.form-inline button:hover {
    background-color: royalblue;
}



/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
 

}
